* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----------- CSS --------- */
.content-background-color {
    background-color: aliceblue;
    background-image: linear-gradient(to bottom right, rgb(148, 205, 255), rgb(223, 136, 255));
}

.web-background-color {
    background-color: rgb(67, 0, 129);
}

.border-rad-9 {
    border-radius: 9px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.icon-form {
    margin-right: 5px;
}

.icon-form-2 {
    margin: 0px 6px;
}

.social-icon {
    font-size: 23px;
}

.clear {
    content: "";
    display: block;
    clear: both;
}

.sqare {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.medium-square {
    width: 71px;
    height: 71px;
    object-fit: cover;
}

.big-square {
    width: 80px;
    height: 80vh;
    object-fit: cover;
}

.play-list-img {
    border-radius: 50%;
}

.artist-list-img {
    border-radius: 8px;
}

.music-playlist-icon {
    font-size: 17px;
}

.line-break {
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 88);
}

.base-margin {
    margin: 1em 0.4em;
}

li a {
    text-decoration: none;
}

.inl-bl {
    display: inline-block;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.to-right {
    right: 0;
}

.to-left {
    left: 0;
}

.to-top {
    top: 0;
}

.to-bottom {
    bottom: 0;
}

.icon-padding {
    padding: 0.5em;
}



/* --------------------------- */




body {
    background-color: rgb(67, 0, 129);
    font-family: sans-serif;
}




/*  ---------  CHUNG -------------*/
#left-container,
#right-container {
    height: 85vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* ------- PHAN CHUNG ----------- */






/* ---- START LEFT CONTAINER ----- */
#left-container {
    width: 25%;
    float: left;
    margin-left: 0.5vw;
}

#left-container ul {
    list-style-type: none;
    height: 85vh;
}

#left-container li {
    width: 100%;
    font-weight: 550;
    background-image: linear-gradient(to bottom right, rgb(148, 205, 255), rgb(223, 136, 255));
}


#left-container li:nth-child(1) {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    height: 7vh;
    padding: 2vh 17px;
    background-color: rgb(148, 205, 255);
}

#left-container li:nth-child(2) {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    height: 7vh;
    margin-bottom: 1.2vh;
    padding: 2vh 17px;
}

#left-container li:nth-child(3) {
    margin-top: 1.2vh;
    border-radius: 13px;
    height: 70vh;
}

.form-lib {
    padding: 7px;
    background-color: rgb(8, 229, 0);
    border-radius: 14px;
    margin-right: 10px;
}

.header-lib {
    margin-bottom: 0vh;
    padding: 3vh 17px;
}

.lib-list-selection {
    width: 100%;
    margin: 1.5vh 17px;
}

.fnc-lib {
    position: relative;
    width: 100%;
    height: 2.7vh;
}

.fnc-lib a {
    position: absolute;
}

.right-fnc-lib {
    right: 0;
}

.my-lib-list .lib-part {
    height: 50px;
    width: 100%;
}

.lib-part img,
.lib-part .lib-infor {
    display: inline-block;
}

.lib-part {
    margin: 1.5vh 0px;
}

.lib-infor p {
    font-size: 13.5px;
    margin-top: 1vh;
}

.your-lib {
    overflow-y: scroll;
    padding: 17px;
    width: 100%;
    height: 54vh;
}

.your-lib::-webkit-scrollbar {
    display: none;
}



/* ------- END LEFT CONTAINER ------- */








/* ----- START RIGHT CONTAINER ------ */
#right-container {
    width: 73%;
    float: right;
    margin-right: 0.4vw;
}



.navigation {
    position: relative;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.navigation * {
    margin: 0px 9px;
}

.navigation .right {
    position: absolute;
    right: 0;
}

.navigation .left {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .left .searching {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    width: 18vw;
    display: none;
}

.navigation .searching input {
    padding: 1.5vh 2vw;
    width: 17vw;
    background-color: transparent;
    border: 0;
    border-radius: 20px;
}

.navigation .left .searching i {
    position: absolute;
    left: 9px;
}


.navigation .right ul {
    font-family: sans-serif;
    right: 0;
    list-style-type: none;
    z-index: 2;
    margin: 0;
    margin-top: 4%;
    display: none;
}

.navigation .right li {
    padding: 7%;
    min-width: 11em;
    background-color: black;
    color: beige;
    font-size: 14px;
}

.navigation .right li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.navigation .right li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0.1em solid snow;
}


.right-list-container::-webkit-scrollbar {
    display: none;
}


.right-list-container {
    overflow-y: scroll;
    height: 73vh;
    margin: 0px 0.6em;
}




.playlist {
    width: 100%;
    height: 30vh;
    margin-bottom: 9em;
}

.playlist .header-playlist * {
    display: inline-block;
    position: absolute;
}

.header-playlist {
    width: 100%;
    height: 4vh;
    position: relative;
}

.header-playlist h2 {
    left: 0;
    margin: 0px 0.6em;
}

.header-playlist div {
    right: 0;
    margin: 0px 25px;
}

.songs-playlist {
    max-height: 270px;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.songs-playlist::-webkit-scrollbar {
    display: none;
}

.song { 
    flex-basis: 18%;
    border-radius: 5%;
    width: 20%;
    height: 260px;
    margin: 1%;
    padding: 15px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(81, 174, 255), rgb(208, 79, 255));
}

.song .thumb-nail {
    width: 100%;
    height: 70%;
    margin-bottom: 4%;
}

.song img {
    width: 160px;
    height: 160px;
    border-radius: 10%;
}

.song h3,
.song p {
    font-size: 0.9em;
}

.song p {
    height: 22%;
    padding-bottom: 10%;
    overflow-y: hidden;
}

.thumb-nail .play-icon {
    right: 5%;
    bottom: 5%;
    background-color: rgb(8, 229, 0);
    z-index: 1;
    font-size: 1.4em;
    padding: 7%;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}



.searching-part {
    display: none;
}


.base-margin {
    margin: 1em 0.4em;
}

.searching-recommend {
    width: 100%;
    height: auto;
    display: none;
    flex-wrap: wrap;
}

.searching-recommend .searching-section {
    width: 9.2%;
    height: 0;
    padding: 9.2%;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 0.8%;
}

.searching-section h2 {
    overflow-y: visible;
    position: absolute;
    top: 10px;
    left: 10px;
}

.searching-img {
    position: absolute;
    width: 6.3em;
    height: 6.3em;
    transform: rotate(30deg);
    right: -0.8em;
    bottom: -0.8em;
}




.footer {
    margin-top: 100px;
    width: 100%;
    min-height: 450px;
}

.first-footer,
.second-footer {
    width: 100%;
    height: 200px;
    display: flex;
}

.first-footer .infor {
    /* border: 1px solid #333; */
    width: 16vw;
    height: 190px;
    margin: 1vh 1vw;
}

.first-footer .infor * {
    margin: 10px;
}

.first-footer .infor a {
    text-decoration: none;
}

.second-footer {
    position: relative;
    align-items: center;
}

.second-footer * {
    margin: 1vh 1vw;
    text-decoration: none;
}

.second-footer p {
    position: absolute;
    right: 0;
}

/* ----- END RIGHT CONTAINER -------- */













/* ---------- START MUSIC -------------- */



#playing-music-section {
    content: "";
    display: table;
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    color: aliceblue;
}

.left-section,
.middle-section,
.right-section {
    height: 12vh;
    margin: 0.5vh 0.5vw;
}

.left-section {
    width: 20vw;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* color: snow; */
}


.left-section * {
    margin: 0px 0.3vw;
}

.left-section p {
    display: inline-block;
    margin: 0;
    font-size: 0.7em;
}


.middle-section {
    width: 54vw;
}

.middle-section .music-middle-section input {
    width: 80%;
}

.middle-section .function-middle-section,
.middle-section .music-middle-section {
    height: 6vh;
    display: flex;
    align-items: center;
}

.middle-section .function-middle-section {
    justify-content: center;
}

.middle-section .music-middle-section {
    justify-content: space-around;
}

.right-section {

    width: 20vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-section * {
    margin: 0 5px;
}

.right-section input {
    width: 90px;
}




/* ---------- END MUSIC -------- */










@media only screen and (max-width: 1200px) {
    .searching-recommend .searching-section {
        width: 11.7%;
        padding: 11.7%;
   }
}


@media only screen and (max-width: 900px) {
    .searching-recommend .searching-section {
        width: 15.8%;
        padding: 15.8%;
   }
}

@media only screen and (max-width: 710px) {
    .searching-recommend .searching-section {
        width: 22.1%;
        padding: 22.1%;
   }
}